//- The validation report.

extends base.pug
include mixins.pug

block content
    .panel(class=issues.length ? 'panel-default' : 'panel-success')
        .panel-heading
            h4
                .pull-right.small
                    if issues.length
                        .label.label-danger
                            +pluralize('problem', issues.length)
                    else
                        .label.label-success No problems found!
                | Validation report for&nbsp;
                a(href=targetUrl)
                    tt
                        b= relativeFilename
                p.small
                    a.open-external(href='https://palantir.github.io/tslint/usage/tslint-json/')
                        | How to configure TSLint
        ul.list-group
            each issue in issues
                li.list-group-item
                    span.symbol &#10060;&nbsp;
                    a(href='txmt://open?url=file://' + targetFilename + '&line=' + (issue.startPosition.line + 1) + '&column=' + (issue.startPosition.character + 1))
                        | at line #{issue.startPosition.line + 1} position #{issue.startPosition.character + 1}:
                    | &nbsp;
                    tt.report #{issue.failure}
                        if issue.ruleName
                            |  (
                            a.open-external(href='https://palantir.github.io/tslint/rules/' + issue.ruleName '/') #{issue.ruleName}
                            | )
    include versioninfo.pug
